<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Student" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Alumni;Integrated Security=True"/>
    <add name="Survey" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Alumni;Integrated Security=True"/>
  <add name="AlumniConnectionString" connectionString="Data Source=(localdb)\MSSQLlocalDB;Initial Catalog=Alumni;Integrated Security=True"
            providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>